.btn-more {
  color: #ffffff !important;
  border: 1px solid #ffffff !important;
  box-shadow: inset 1px 1px 15px #777, -1px -1px 15px #777, 1px 1px 10px #fff !important;
  transition: all 0.4s linear;
}
.btn-more:hover {
  box-shadow: inset 1px 1px 15px 10px rgb(255, 255, 255), -1px -1px 15px #777,
    1px 1px 10px #fff !important;
  color: rgb(18, 134, 163) !important;
  background-color: #d1d0d0;
  transform: scale(1.1);
}
.btn-more > * {
  color: #ffffff;
}
.btn-more:hover > * {
  color: rgb(18, 134, 163) !important;
}
